* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: #f2edd1;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

h1 {
  margin-top: 2rem;
  background-color: #280a3e;
  color: white;
  line-height: 3rem;
}

.todo-input-container input {
  height: 40px;
  padding-left: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
}
.todo-input-container button {
  height: 100%;
  padding: 12px 16px;
  background-color: green;
  color: white;
  border: none;
  margin-left: 1rem;
  height: 40px;
  width: 6rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out;
}
.todo-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  height: 2.5rem;
}

.todolist {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.todo-item {
  margin-top: 2rem;
  background-color: #ffffff;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.todo-item span {
  font-size: 16px;
  color: #333;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.delete-btn:hover {
  background-color: #b02a37;
}
